@orip-frontend:registry=https://riddprangyachitta.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.51f8497f-67a2-4b21-8c01-408ab38987ec/contents/release/npm/
//riddprangyachitta.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.51f8497f-67a2-4b21-8c01-408ab38987ec/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
omit-lockfile-registry-resolved=true
